* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root{
  --hue:170;
  --color-primary:hsl(var(--hue),100%, 53%);
  --color-light:hsl(var(--hue),100%, 63%);
  --color-super-light:hsl(var(--hue),100%, 73%);
  --color-super-duper-light:hsl(var(--hue),100%, 93%);
}